
-
    var header = '#recent clients'
    var clientList = [
        "/asset/image/client/argus.png",
        "/asset/image/client/chemist-direct.png",
        "/asset/image/client/content-formula.png",
        "/asset/image/client/direct-line-group.jpg",
        "/asset/image/client/rma-consulting.png",
        "/asset/image/client/zeus-media.jpg",
    ];


#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image
